<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#e8622a">

    {%- if page_title == blank -%}
      <title>Namaste Resto | Restaurant Indien &amp; Pub — Gien, France</title>
    {%- else -%}
      <title>{{ page_title }} | Namaste